@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 @model ERP.ViewModels.ClientViewModel

<form id="editClientForm" method="post" enctype="multipart/form-data">
   
    <input type="hidden" id="ClientId" name="model.ClientId" asp-for="ClientId">
    <input type="text" id="ClientTitle" name="model.ClientTitle" asp-for="ClientTitle" class="form-control" placeholder="Название">
    <input type="text" id="City" name="model.City" asp-for="City" class="form-control" placeholder="Город">
    <input type="date" id="FirstContact" name="model.FirstContact" asp-for="FirstContact" class="form-control" placeholder="первое обращение">

    <table class="table table-dark table-striped table-bordered text-center align-middle ">
        <thead>
        <th>Имя</th>
        <th>Телефон</th>
        <th>почта</th>
        <th>удалить</th>
        </thead>
        <tbody id="addContactsTable">
            @foreach(var contact in Model.contacts)
            {
                <tr>
                    <td><input type="text" name="model.contacts[0].Name" class="form-control" placeholder="Имя" value="@contact.Name">  </td>
                    <td><input type="text" name="model.contacts[0].Phone" class="form-control" placeholder="Телефон" value="@contact.Phone"> </td>
                    <td><input type="text" name="model.contacts[0].Email" class="form-control" placeholder="Почта" value="@contact.Email"> </td>
                    <td>
                        <button type="button" id="remove-item" onclick="deleteContact(@contact.ContactId, this)" class="btn btn-danger remove-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M11.854 4.146a.5.5 0 0 1 0 .708L8.707 8 11.854 11.146a.5.5 0 1 1-.708.708L8 8.707 4.854 11.854a.5.5 0 1 1-.708-.708L7.293 8 4.146 4.854a.5.5 0 1 1 .708-.708L8 7.293l3.146-3.147a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
          
        </tbody>
    </table>
    <button type="button" onclick="addContactRow(this)" class="btn btn-primary add-row-btn">Добавить строчку</button>
    <table class="table table-dark table-striped table-bordered text-center align-middle addContactsTable">
        <thead>
        <th>Адрес</th>
        <th>удалить</th>
        </thead>
        <tbody id="addAddressTable">
            @foreach (var address in Model.address)
            {
                <tr>
                    <td><input type="text" name="model.address[0].Address" class="form-control" placeholder="Адрес" value="@address.Address"> </td>
                <td>
                        <button type="button" id="remove-item" onclick="deleteAddress(@address.AddressId, this)" class="btn btn-danger remove-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M11.854 4.146a.5.5 0 0 1 0 .708L8.707 8 11.854 11.146a.5.5 0 1 1-.708.708L8 8.707 4.854 11.854a.5.5 0 1 1-.708-.708L7.293 8 4.146 4.854a.5.5 0 1 1 .708-.708L8 7.293l3.146-3.147a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <button type="button" onclick="addAddressRow(this)" class="btn btn-primary add-row-btn">Добавить строчку</button>
    <table class="table table-dark table-striped table-bordered text-center align-middle addContactsTable">
        <thead>
        <th>Реквизиты</th>
      @*   <th>удалить</th> *@
        </thead>
        <tbody id="rekvizitTable">
           
            @foreach (var rekvizit in Model.rekvizits)
            {
                <tr>
                    <td><input type="text" class="form-control" value="@rekvizit.FileName" id="ClientRekvizit" name="ProjectFiles"></td>
                    <td>
                            <button type="button" id="remove-item" onclick="deleteRekvizit(@rekvizit.RekvizitId, this)" class="btn btn-danger remove-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M11.854 4.146a.5.5 0 0 1 0 .708L8.707 8 11.854 11.146a.5.5 0 1 1-.708.708L8 8.707 4.854 11.854a.5.5 0 1 1-.708-.708L7.293 8 4.146 4.854a.5.5 0 1 1 .708-.708L8 7.293l3.146-3.147a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td><input type="file" class="form-control" id="ClientRekvizit" name="ProjectFiles" multiple></td>
            </tr>
            
        </tbody>
    </table>
   @*  <button type="button" onclick="addRekvizitRow(this)" class="btn btn-primary add-row-btn">Добавить строчку</button> *@
    <button type="submit" id="editClient" class="btn btn-primary">Сохранить изменения</button>
    <button type="button" onclick="deleteClient(@Model.ClientId)" class="btn btn-primary red">Удалить заказчика</button>
</form>
