
@model ERP.ViewModels.ProjectCardViewModel

<div class="project_card_div">
     <h2>@Model.ProjectName</h2>
    <div class="action-buttons">
        <button>Забрать</button>
        <input type="color" onblur="setProjectColor(this, @Model.ProjectId)" id="colorPicker" name="color" value="@Model.ProjectColor">
    </div>
    <div class="project-details">
        <div class="detail-item">
            <span>Дата оплаты:</span><br/> <strong>@Model.PaymentDate</strong>
        </div>
        <div class="detail-item">
            <span>Дата мероприятия:</span> <br /> <strong>@Model.EventDate</strong>
        </div>
        <div class="detail-item">
            <span>Крайний срок:</span> <br /> <strong>@Model.Deadline</strong>
        </div>
        <div class="detail-item">
            <span>Клиент:</span> <br /> <strong>@Model.ClientName</strong>
        </div>
        <div class="detail-item">
            <span>Сотрудник:</span> <br /> <strong>@Model.EmployeeName</strong>
        </div>
        <div class="detail-item">
            <span>Итоговая сумма:</span> <br /> <strong>@Model.PaymentTotal</strong>
        </div>
        <div class="detail-item">
            <span>Аванс:</span><br />  <strong>@Model.AdvanceRate</strong>
        </div>
    </div>

    <div class="action-buttons">
        <button>Архивировать</button>
        <button>Редактировать</button>
    </div>
</div>
<div class="project_card_div gallery">
    <table class="table table-dark table-striped table-bordered text-center align-middle items">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Эскиз</th>
                <th>Тираж</th>
                <th class="item-description">Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemType</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.SketchPath))
                        {
                            <img src="@item.SketchPath" alt="Эскиз">
                        }
                    </td>
                    <td>@item.Amount</td>
                    <td class="item-description"><pre>@item.ItemDescription</pre></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="project_card_div">
    <h3>Макеты</h3>
    @foreach (var layout in Model.Layouts)
    {
        <a class="button" href="@layout.FilePath" download> @layout.FileTitle </a>
    }

    <h3>Документы</h3>
    @foreach (var doc in Model.Documents)
    {
        <a class="button" href="@doc.FilePath" download> @doc.FileTitle </a>
    }
</div>

<h3>Описание</h3>
<div class="text_block">
    <textarea onblur="sendCardText('PutProjectDescription', @Model.ProjectId)" oninput="textareaResize(this)">@Model.Description</textarea>
</div>

<h3>Журнал</h3>
<div class="text_block journal">
    <textarea onblur="sendCardText('PutProjectJournal', @Model.ProjectId)" oninput="textareaResize(this)">@Model.Journal</textarea>
    <div class="journal_images gallery">
        <img onclick="plusClick('журналФото', @Model.ProjectId)" class="plus" src="~/images/плюсик.jpg" />
        @foreach (var photo in Model.JournalPhotos)
        {
            <img src="@photo.FilePath" alt="@photo.FileTitle">
        }
    </div>
</div>

<h3>Галерея</h3>
<div class="gallery project_card_div">
    <img onclick="plusClick('фото', @Model.ProjectId)" class="plus" src="~/images/плюсик.jpg" />
    @foreach (var photo in Model.Gallery)
    {
        <img src="@photo.FilePath" alt="@photo.FileTitle">
    }
</div>
