

@using Microsoft.AspNetCore.Identity
@inject UserManager<ErpUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var employeeId = currentUser?.EmployeeId;
    var employeeName = currentUser?.UserName;
}

@model ERP.ViewModels.ProjectCardViewModel



@* -------------------------------------------------------!!!!!!!!!!!!!!!!!---------------------------------------------------------
неправильно выводятся даты!!! иногда. сначала месяц потом число. иногда норм *@



<div class="project_card_div">
      
    <input type="hidden" id="projectId" value="@Model.ProjectId" />
     <h2>@Model.ProjectName</h2>
    <div class="action-buttons">
       
        @if (Model.EmployeeName == null)
        {
            <button onclick="takeProject(@employeeId , @Model.ProjectId)">Забрать</button>
        }
        else
        {
            <button disabled>@Model.EmployeeName</button>
        }
        <input type="color" onblur="setProjectColor(this, @Model.ProjectId)" id="colorPicker" name="color" value="@Model.ProjectColor">
    </div>
    <div class="project-details">
        <div class="detail-item">
            <span>Дата оплаты:</span><br/> <strong>@Model.PaymentDate</strong>
        </div>
        <div class="detail-item">
            <span>Дата мероприятия:</span> <br /> <strong>@Model.EventDate</strong>
        </div>
        <div class="detail-item">
            <span>Дэдлайн:</span> <br /> <strong>@Model.Deadline</strong>
        </div>
        <div class="detail-item">
            <span>Клиент:</span> <br /> <strong>@Model.ClientName</strong>
        </div>

    @if (User.IsInRole("Boss"))
    {
        <div class="detail-item">
            <span>Итоговая сумма:</span> <br /> <strong>@Model.PaymentTotal</strong>
        </div>
        <div class="detail-item">
            <span>Аванс:</span><br />  <strong>@Model.AdvanceRate</strong>
        </div>
    }
        <div class="detail-item">
            <span>Оплата мастера:</span><br />  <strong>@Model.EmployeePayment</strong>
        </div>
    </div>
    <div class="action-buttons">
        <button onclick="archiveProject(@Model.ProjectId)">Архивировать</button>
          @if (User.IsInRole("Boss"))
            {     
                <button onclick="editProject(@Model.ProjectId)">Редактировать</button>
            }
    </div>
</div>
<div class="project_card_div gallery">
    <table class="table table-dark table-striped table-bordered text-center align-middle items">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Эскиз</th>
                <th>Тираж</th>
                <th>Материалы/цвета</th>
                <th class="item-description">Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemType</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.SketchPath))
                        {
                            <img class="itemImage" onclick="openGallery(this)" src="@item.SketchPath" alt="Эскиз">
                        }
                    </td>
                    <td>@item.Amount</td>
                    <td>@item.SelectedMaterials <br /> @item.SelectedColors</td>
                    <td class="item-description"><pre>@item.ItemDescription</pre></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<h3>Макеты</h3>
@if (Model.LayoutsRequired != null && Model.LayoutsRequired.Length > 0)
{
    <label>не добавлены: </label>
    <input type="text" class="today" id="layoutsRequired" value="@Model.LayoutsRequired" asp-for="LayoutsRequired" placeholder="недобавлены макеты" />

}

@foreach (var layout in Model.Layouts)
{
    <a class="button" href="@layout.FilePath" download> @layout.FileTitle </a>
}

<div class="journal-header-container">
    <h3>Документы</h3> 
    @if (Model.IsDocumentsComleted == true)
    {
        <div class="monthSalaryCircle greenCircle"></div>
    }
    else
    {
        <div class="monthSalaryCircle redCircle"></div>
    }
</div>
@foreach (var doc in Model.Documents)
{
    <a class="button" href="@doc.FilePath" download> @doc.FileTitle </a>
}

  

<h3>Описание</h3>
<div class="text_block_description">
    <textarea onblur="sendCardTextDescription('PutProjectDescription', @Model.ProjectId)">@Model.Description</textarea>
</div>


<div class="journal-header-container">
    <h3>Журнал</h3>
    <button class="toggle-journal" onclick="toggleJournalNotes(this)">
        <svg width="36" height="36" viewBox="0 0 24 24">
            <path d="M6 9l6 6 6-6" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
</div>

<div class="journal-notes" id="journal-notes">

    @foreach(var note in Model.JournalNotes)
    {
        <div class="journal-container">
            <input type="hidden" id="journalNoteId" value="@note.JournalNoteId" />
            <!-- Верхняя строка -->
            <div class="journal-header">
                <label for="journal-theme">Тема:</label>
                <select class="topic-select">
                    <option value="@note.JournalTopicId">@note.JournalTopicName</option>
                    @foreach(var topic in ViewBag.topics)
                    {
                        @if(topic.JournalTopicName == note.JournalTopicName)
                        {
                            continue;
                        }
                        <option value="@topic.JournalTopicId">@topic.JournalTopicName</option>
                    }
                </select>
                <button class="delete-note-btn" onclick="deleteJournalNote(this)" title="Удалить">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 6h18M9 6v12m6-12v12M5 6l1 14h12l1-14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            <!-- Контент -->
            <div class="journal-content">
                <div class="text_block">
                    <textarea onblur="sendCardTextJournal('PutProjectNote', @note.JournalNoteId)"> @note.JournalNoteDescription</textarea>
                </div>

                <div class="journal_images gallery">
                    <img onclick="plusClick('журналФото', @Model.ProjectId, @note.JournalNoteId)" class="plus" src="~/plus.jpg" alt="Добавить фото" />
                    @foreach (var photo in note.Photos)
                    {
                        <img onclick="openGallery(this)" data-file-id="@photo.FileId" src="@photo.FilePath" alt="@photo.FileTitle">
                    }
                </div>
            </div>
        </div>
    }
    <button class="add-note-btn" onclick="addJournalNote()">Добавить заметку</button>
</div>


<h3>Галерея</h3>
<div class="gallery gallery-photo project_card_div">
    <img onclick="plusClick('фото', @Model.ProjectId)" class="plus" src="~/plus.jpg" />
    @foreach (var photo in Model.Gallery)
    {
        <img onclick="openGallery(this)"  data-file-id="@photo.FileId"  src="@photo.FilePath" alt="@photo.FileTitle">
    }
</div>

