@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Archive_Projects";
}
@model List<ERP.ViewModels.ClientProjectsViewModel>

@if(User.IsInRole("Boss"))
{
<div class="header">   
        <div class="account-list">
            @foreach(var account in @Model[0].Accounts)
            {
                <label class="radio-container">

                    <input type="radio" @(account.IsCurrent ? "checked" : "") onchange="setActiveAccount(@account.AccountId)" name="account" value="@account.AccountId">
                 
                    <span class="checkmark"> @account.Email</span>   
                </label>    
            }
            <button type="button" onclick="authorizeYandex()">Добавить аккаунт</button>
        </div>
</div>
}

<div class="clients">
    @foreach (var client in Model.OrderBy(c => c.ClientTitle))
    {
        <div class="client-container">
            <div class="header client-header" onclick="toggleProjects(this)">
                <h5>@client.ClientTitle (@client.City)</h5>
            </div>
            <div class="client-details hidden">
                <button onclick="editClientDivOpen(@client.ClientId)"> редактировать заказчика </button>
                <h5>Реквизиты:</h5>
                <div class="requisites">
                    @foreach (var requisite in client.Requisites)
                    {
                        <div class="requisite-item">
                            <p><strong>@requisite.FileTitle</strong></p>
                            <p>Загружен: @requisite.UploadedAt?.ToString("yyyy-MM-dd HH:mm")</p>
                            <a href="@requisite.FilePath" download>Скачать файл</a>
                        </div>
                    }
                </div>

                <h5>Адреса доставки:</h5>
                <div class="contacts">
                    @foreach (var address in client.DeliveryAddresses)
                    {
                        <div class="contact-item">
                            <p>@address.DeliveryAddress</p>
                        </div>
                    }
                </div>

                <h5>Контакты:</h5>
                <div class="contacts">
                    @foreach (var contact in client.Contacts)
                    {
                        <div class="contact-item">
                            <p><strong>@contact.ContactName</strong></p>
                            <p>Телефон: @contact.PhoneNumber</p>
                            <p>Email: @contact.Email</p>
                        </div>
                    }
                </div>
                <h5>Проекты:</h5>
                <div class="master_list client-projects">
                    @foreach (var project in client.Projects)
                    {
                        if(project.IsArchived != true)
                       {
                           <div onclick='openProjectCard(@project.ProjectId)' class="project">
                                <img src="@project.ImagePath" alt="Project Image">
                                <div class="project_text">
                                    <b>@project.ProjectName</b>
                                    <p>Дэдлайн: <b>@project.Deadline?.ToShortDateString()</b></p>
                                    <p>Сумма:<b>@project.PaymentTotal?.ToString()</b> </p>
                                    <p>Мастер:<b>@project.EmployeeName</b></p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div  class="project archiveCard">
                                <img src="@project.ImagePath" alt="Project Image">
                                <div class="project_text">
                                    <b>@project.ProjectName</b>
                                    <p>Дэдлайн: <b>@project.Deadline?.ToShortDateString()</b></p>
                                    <p>Сумма:<b>@project.PaymentTotal?.ToString()</b> </p>
                                    <p>Мастер:<b>@project.EmployeeName</b></p>
                                </div>
                                <button onclick='DownloadAndExtractProjectAsync(@project.ProjectId)'>загрузить</button>
                            </div>
                        }
                    }
                </div>

              
            </div>
        </div>
    }
</div>

@* 
<div class="popup_before"></div>
<div id="projectData" class="popup"> </div>
<div id="addProject" class="popup"></div>
<div id="gallery" class="popup"></div>

<div id="addImagePopUp" class="popup_small">
    <svg class="close-btn" xmlns="http://www.w3.org/2000/svg" width="24"
         height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
   
</div>

<div id="editClient" class="popup_small">
   @Html.Partial("_CreateClientPartial") 
</div>
 *@


<script>
    function toggleProjects(header) {
        const details = header.nextElementSibling;
        details.classList.toggle('hidden');
    }
</script>
