
@{
    ViewData["Title"] = "Current_Projects";
}

  @*   <div class="header">
        <!-- <button>остатки материала</button> -->
        <button>очередь проектов | текущие проекты</button>

        <!-- <button>журнал</button> -->
        <button>архив проектов | журнал</button>
        <!-- <button id="addProjectButton">добавить проект</button> -->
    </div> 
    @model ERP.ViewModels.CurrentProjectsViewModel
    *@


@* <h3 class="master_name">ОЧЕРЕДЬ ПРОЕКТОВ</h3>
<div class="master_list red">
    <div id="addProjectButton" class="project">
    <img src="images\плюсик.jpg" alt="">
        <div class="project_text">
            <p>добавить проект</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_1_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_2_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_3_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_4_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
</div>
 *@
<h3 class="master_name">ОЧЕРЕДЬ ПРОЕКТОВ</h3>
<div id="newProjectsContainer" class="master_list red">
    <div id="addProjectButton" class="project">
        <img src="images\плюсик.jpg" alt="">
        <div class="project_text">
            <p>добавить проект</p>
        </div>
    </div>
</div>

<div id="employeesContainer"></div>

@* <div class="header">
    <h3 class="master_name">АНЯ</h3>
    <button onclick="taskPlanner()">планирование задач</button>
    <button>ЗП архив | прогноз</button>
</div>
<div class="master_list red">
    <div class="project">
        <img src="~/images/photo_1_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
    <img src="~/images/photo_1_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
    <img src="~/images/photo_2_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
    <img src="~/images/photo_3_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
    <img src="~/images/photo_4_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
</div>
<div class="header">
    <h3 class="master_name">САША</h3>
    <button onclick="taskPlanner()">планирование задач</button>
    <button>ЗП архив | прогноз</button>
</div>
<div class="master_list green">
    <div class="project">
        <img src="images/photo_5_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_6_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
    <div class="project">
        <img src="images/photo_7_2024-03-22_10-08-58.jpg" alt="">
        <div class="project_text">
            <p>название проекта</p>
            <p>тираж</p>
            <p>дата</p>
            <p>материал</p>
        </div>
    </div>
</div> *@
<div class="header">
    <button onclick="AddEmployee()">ДОБАВИТЬ СОТРУДНИКА</button>
</div>
<div class="header">
    <button onclick="AddClient()">ДОБАВИТЬ ЗАКАЗЧИКА</button>
</div>

<div class="popup_before"></div>
<div id="projectData" class="popup"> </div> 
<div id="addProject" class="popup">
    @Html.Partial("_CreateProjectPartial")
</div>

<div class="modal" id="taskModal">
    @Html.Partial("_TaskViewPartial")
</div>
<div id="calendarContainer" class="popup calendar-container">
    <!-- <div class="calendar-container" id="calendarContainer"> -->
    <div class="calendar" id="calendar"></div>
    <!-- </div> -->
    <!-- Modal for adding/editing tasks -->
  
</div>

<div id="addImagePopUp" class="popup_small">
    <svg class="close-btn" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
    @Html.Partial("_AddPhotosPartial")
</div>
<div id="addEmployeePopUp" class="popup_small">
    @Html.Partial("_CreateEmployeePartial")
</div>
<div id="addClient" class="popup_small">
    @Html.Partial("_CreateClientPartial")
</div>

